
.header{
    height: 100px;
    background-color: red;

}
.container{
    border: 10px solid black;
    overflow: hidden;
}

.container{

}
.contact{
    float: left;
    width: 60%;
    min-height: 200px;
    background-color: green;

}
.blog{
    float: right;
    width: 35%;
    min-height: 200px;
    background-color: yellow;

}
.footer{
    clear: both;
    height: 100px;
    background-color: blue;

}